[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
Restart=on-failure
ExecStart=/bin/consul agent -config-dir=/consul/config

[Install]
WantedBy=multi-user.target
