[Unit]
Description=X11VNC Socket for Per-Connection Servers

[Socket]
ListenStream=5900
Accept=yes

[Install]
WantedBy=sockets.target
root@poi10:~# cat /lib/systemd/system/x11vnc@.service
[Unit]
Description=X11VNC Per-Connection Server

[Service]
ExecStart=/usr/bin/x11vnc -inetd -display :0.0 -bg -o /var/log/x11vnc.log
StandardInput=socket
