#!/bin/sh

source /home/metro/environment

/sbin/svc.configd
env SMF_FMRI=svc:/network/rpc/bind:default /usr/sbin/rpcbind
/usr/bin/chown -R metro:metro /home/metro
ln -sf /home/metro/sun/router.Motif /home/metro/sun/router

#cd /home/metro; ./login-mvi
