#!/sbin/sh
#
# this configures network in TCE
#
# dhcpagent binds to localhost:4999 which requires lo0
# the auto-revarp appears to be necessary
#

/usr/sbin/devfsadm

INTERFACE=$(awk '/e1000g|ife|iprb/ {print $NF}' /etc/path_to_inst | sed 's/"//g')
IFNAME="${INTERFACE}0"

hostname=$(prtconf -v /devices 2>/dev/null | sed -n '/hostname/{;n;p;}' | cut -f 2 -d \')
ipaddress_bootarg=$(prtconf -v /devices 2>/dev/null | sed -n '/ipaddress/{;n;p;}' | cut -f 2 -d \')

if [[ ${ipaddress_bootarg} == '' ]]; then
  ipaddress=dhcp
else
  ipaddress=${ipaddress_bootarg}
  gateway="${ipaddress_bootarg%.*}.1"
fi

env SMF_FMRI=svc/net/ip:d /lib/inet/ipmgmtd
/usr/bin/hostname ${hostname}
/sbin/ifconfig lo0 plumb 127.0.0.1 up
/sbin/ifconfig ${IFNAME} plumb

if [[ ${ipaddress} == 'dhcp' ]]; then
  /sbin/ifconfig $IFNAME auto-dhcp primary
else
  /sbin/ifconfig ${IFNAME} ${ipaddress} plumb up
  /sbin/route add default ${gateway}
fi
