#!/sbin/sh
#
#

set -e
set -x

# Partition disk, create filesystem
/usr/sbin/devfsadm
/root/format\-a\-disk.sh -B c0d0
echo "y" | env NOINUSE_CHECK=1 /usr/sbin/newfs /dev/rdsk/c0d0s0

# Extract root archive into disk
/usr/bin/mkdir /a
/usr/sbin/mount /dev/dsk/c0d0s0 /a
/usr/bin/wget "http://16.0.96.20/repo/tce-mvi.tar.gz" -O /a/tce-mvi.tar.gz
cd /a ; tar xzf tce-mvi.tar.gz
cd /
/sbin/sync

# Setting up boot
/usr/bin/mkdir -p /a/boot/grub/bootsign
touch /a/boot/grub/bootsign/tribblix_18
echo "tribblix_18" > /a/etc/bootsign

# mount / at boot and enable swap
/bin/echo "/dev/dsk/c0d0s0\t/dev/rdsk/c0d0s0\t/\tufs\t1\tno\tlogging" >> /a/etc/vfstab

#
# need to put the device path of the root slice into bootenv.rc so
# the boot can find it
#
BOOTDEV=`/bin/ls -l /dev/dsk/c0d0s0 | awk '{print $NF}' | sed 's:../../devices::'`
echo "setprop bootpath $BOOTDEV" >> /a/boot/solaris/bootenv.rc

# Updating boot archive
/usr/bin/mkdir -p /a/platform/i86pc/amd64
/sbin/bootadm update-archive -R /a
/sbin/sync
sleep 2

/sbin/umount /a

# Install grub
/sbin/installgrub -fm /boot/grub/stage1 /boot/grub/stage2 /dev/rdsk/c0d0s0
